{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | MBT CMS{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/mbt-admin.css' %}">
{% endblock %}

{% block branding %}
  <div id="site-name">
    <a href="{% url 'admin:index' %}">
      <img src="{% static 'img/mbt/logo-with-name-white.svg' %}" alt="MBT" style="height:38px; vertical-align:middle; margin-right:10px;">
      MBT
      <span class="mbt-admin-badge">CMS</span>
    </a>
  </div>
  {% if user.is_anonymous %}
    {% include "admin/color_theme_toggle.html" %}
  {% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
