{% load i18n %}
<header class="nav-header header-layout1">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                <div class="col-auto d-none d-lg-block">
                    <div class="header-top-left">
                        <div class="header-links">
                            <ul>
                                <li>
                                    <div class="social-links">
                                        <a href="{{ site.social_linkedin }}" target="_blank" aria-label="LinkedIn"><i class="ri-linkedin-fill"></i></a>
                                        <a href="{{ site.social_youtube }}" target="_blank" aria-label="YouTube"><i class="ri-youtube-fill"></i></a>
                                        <a href="{{ site.social_facebook }}" target="_blank" aria-label="Facebook"><i class="ri-facebook-fill"></i></a>
                                        <a href="{{ site.social_instagram|default:'#' }}" target="_blank" aria-label="Instagram"><i class="ri-instagram-fill"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-top-right">
                        <div class="header-links ps-0">
                            <ul>
                                <li><i class="ri-time-line"></i>{{ site.hours }}</li>
                                <li class="mbt-header-branches">
                                    <i class="ri-map-pin-line"></i>
                                    <span class="mbt-branches-label">{% trans 'Nasze oddziały' %} <i class="ri-arrow-down-s-line"></i></span>
                                    <ul class="mbt-branches-menu">
                                        <li><a href="https://www.google.com/maps?q={{ site.office_zabrze|urlencode }}" target="_blank"><strong>Zabrze:</strong> {{ site.office_zabrze }}</a></li>
                                        <li><a href="https://www.google.com/maps?q={{ site.office_krakow|urlencode }}" target="_blank"><strong>Kraków:</strong> {{ site.office_krakow }}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-wrapper">
        <!-- Main Menu Area -->
        <div class="menu-area">
            <div class="header-navbar-logo">
                <a href="{% url 'index' %}"><img src="/static/img/mbt/icon.svg" alt="MBT" height="50" width="66"></a>
            </div>
            <div class="logo-bg"></div>
            <div class="container">
                <div class="row align-items-center justify-content-lg-start justify-content-between">
                    <div class="col-auto d-xxl-none d-block">
                        <div class="header-logo">
                            <a href="{% url 'index' %}"><img src="/static/img/mbt/icon.svg" alt="MBT" height="50" width="66"></a>
                        </div>
                    </div>
                    <div class="col-auto ms-auto ms-xxl-0">
                        <nav class="main-menu d-none d-lg-inline-block">
                            <ul>
                                <li>
                                    <a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'about' %}active{% endif %}">{% trans 'O NAS' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'generalContracting' %}" class="{% if request.resolver_match.url_name == 'generalContracting' %}active{% endif %}">{% trans 'GENERALNE WYKONAWSTWO' %}</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'service' %}" class="{% if request.resolver_match.url_name in 'service,halePrzemyslowe,haleMagazynowe,obiektyKomercyjne' %}active{% endif %}">{% trans 'OFERTA' %}</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'halePrzemyslowe' %}">{% trans 'Hale Przemysłowe' %}</a></li>
                                        <li><a href="{% url 'haleMagazynowe' %}">{% trans 'Hale Magazynowe' %}</a></li>
                                        <li><a href="{% url 'obiektyKomercyjne' %}">{% trans 'Obiekty Komercyjne' %}</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'project' %}" class="{% if request.resolver_match.url_name == 'project' or request.resolver_match.url_name == 'realizacjaDetail' %}active{% endif %}">{% trans 'REALIZACJE' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'blog' %}" class="{% if request.resolver_match.url_name == 'blog' or request.resolver_match.url_name == 'articleDetail' %}active{% endif %}">{% trans 'BLOG' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'career' %}" class="{% if request.resolver_match.url_name == 'career' or request.resolver_match.url_name == 'careerDetail' %}active{% endif %}">{% trans 'KARIERA' %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">{% trans 'KONTAKT' %}</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="navbar-right d-inline-flex d-lg-none">
                            <button type="button" class="menu-toggle icon-btn" aria-label="{% trans 'Menu' %}"><i class="ri-menu-line"></i></button>
                        </div>
                    </div>
                    <div class="col-auto ms-auto d-xl-block d-none">
                        <div class="header-button">
{% get_current_language as CURRENT_LANGUAGE %}
                            <div class="mbt-lang-switch" id="mbtLangHeader">
                                <img src="/static/img/mbt/languageSwitcher-globe.svg" alt="{% trans 'język' %}" width="24" height="24">
                                <span class="mbt-lang-current">{{ CURRENT_LANGUAGE|upper }}</span>
                                <img class="arrow" src="/static/img/mbt/languageSwitcher-arrow-down.svg" alt="▼" width="16" height="16">
                                <ul class="mbt-lang-menu">
                                    {% for lang in site_languages %}
                                    <li>
                                        <a href="{{ lang.url }}" class="mbt-lang-btn{% if lang.code == CURRENT_LANGUAGE %} is-active{% endif %}" lang="{{ lang.code }}">{{ lang.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <a href="{% url 'contact' %}" class="btn mbt-cta">{% trans 'Nasi Handlowcy' %} <i class="ri-arrow-right-up-line"></i></a>
                            <button type="button" class="search-btn searchBoxToggler simple-icon" aria-label="{% trans 'Szukaj' %}">
                                <i class="ri-search-line"></i>
                            </button>
                            <button type="button" class="sidebar-btn sideMenuToggler simple-icon" aria-label="{% trans 'Więcej' %}">
                                <i class="ri-grid-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>                
            <div class="navbar-right-desc d-xxl-flex d-none">
                <div class="icon-btn">
                    <i class="ri-phone-fill"></i>
                </div>
                <div class="navbar-right-desc-details">
                    <h6 class="title">{% trans 'Zadzwoń do nas' %}</h6>
                    <a class="link" href="tel:{{ site.phone_href }}">{{ site.phone }}</a>
                </div>
            </div>
        </div>
    </div>
</header>
